---
import imgfairness from '../assets/core-fairness.jpg';
import efficiency from '../assets/core-efficiency.jpg';
import community from '../assets/core-community.jpg';
import trust from '../assets/core-trust.jpg';

const values = [
    {
        name: 'Fairness',
        description: 'We are committed to a fair compensation for reviewers and editors, honoring the time, expertise, and effort they contribute to advancing scientific knowledge.',
        imagen: imgfairness.src
    },
    {
        name: 'Efficiency',
        description: 'We provide the infrastructure for an efficient peer-review and publishing process that respects scientists’ time and accelerates the path from discovery to publication.',
        imagen: efficiency.src
    },
    {
        name: 'Community',
        description: 'We empower scientists to reclaim control over the publishing process, creating a collaborative environment where collective progress thrives and profits are shared.',
        imagen: community.src
    },
    {
        name: 'Trust',
        description: 'We build trust through high standards of quality, integrity, and transparency, ensuring every step of our process aligns with the needs of the scientific community.',
        imagen: trust.src
    }
]
---

<div class=" mt-10 sm:mt-20 ">

<h2 class="text-center sm:text-4xl text-2xl font-bold font-serif mb-10">Core Values</h2>
<div class="flex items-stretch justify-center gap-4 sm:space-x-0 flex-wrap">


    {
        values.map(value => (
            <div class="w-40 sm:w-40 relative">
                <div class="imagen rounded-t-full overflow-hidden h-48">
                    <img src={value.imagen} alt={value.name} class="w-full h-full object-cover" />
                </div>
                <div class="absolute top-28
                 imagen rounded-full overflow-hidden aspect-square w-full text-center flex items-center justify-center  bg-white text-sm sm:text-lg font-bold font-serif">
                    {value.name}
                </div>
                <div class="bg-black text-white rounded-b-full h-[360px] sm:h-80 px-4 text-[.8em] sm:text-[.8em] pt-24  text-balance text-center sm:text-center font-serif">
                    {value.description}
                </div>
            </div>
        ))
    }
</div>
</div>
