

<div class="max-w-2xl mx-auto">
	<hr class="my-10 border-t-1 border-gray-300" />

	<h3 class="font-serif text-center sm:text-xl text-normal mb-10 text-balance">
		<strong>If you share our vision of a fair and eficient peer-review
        system</strong> that recognizes and compensates the valuable expertise
        of reviewers and editors while prioritizing respectful practices
        and open access then we Will be delighted to discuss this business
        model and Other relevant topics with you in greater depth.
	</h3>
</div>
