

<div class="max-w-2xl mx-auto">
	<hr class="my-10 border-t-1 border-gray-300" />

	<h3 class="font-serif text-center sm:text-xl text-normal mb-10 text-balance">
        If you share our vision, we would be thrilled to connect with you and explore our business model,
        along with other relevant topics, in greater depth

	</h3>
</div>
