---
import logo from '../assets/logo.png';
---

<header class="flex items-center py-4  gap-4">

    <div class="sm:flex-1 w-full">
        <img  src={logo.src} alt="" fetchpriority="high"  class="max-w-32 sm:max-w-40 mx-auto sm:mx-0"/>
    </div>
    <div class="sm:flex-1 w-full text-right">
        <h1 class="font-bold text-sm sm:text-lg font-serif leading-tight">Giving Back Science <br> to Scientists.</h1>
    </div>
</header>
