---
import meetImage from '../assets/google-meet.jpg';
---
<div class="mt-10 sm:mt-20">

    <a href="#" class="flex justify-center items-center gap-4">
        <img src={meetImage.src} alt="meet" class="basis-0 w-20" />
        <h4 class="font-serif leading-tight text-lg sm:text-xl">
            <strong>Let's talk!</strong><br>Book a meeting
        </h4>
    </a>
</div>